$light-blue: #1184D1;
$text-blue:#237FBD;
$dark-blue: #1169A5;
$medium-blue: #0777C2;
$green: #7BEE86;
$dark-orange:#EA6419;
$orange: #EF8451;
$white: #ffffff;
$grey: #EF8451;
$dark-grey: #333333;
$black: #000000;
$light-black: #1A1A1A;
